<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="cordova-myself-plugin"
    version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    ><name>myPluginTest</name
    ><js-module name="myPluginTest" src="www/myPluginTest.js"
        ><clobbers target="cordova.plugins.myPluginTest" /></js-module
    ><platform name="android"
        ><config-file parent="/*" target="res/xml/config.xml"
            ><feature name="myPluginTest"
                ><param
                    name="android-package"
                    value="com.test.myPlugin.myPluginTest" /></feature></config-file
        ><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file
            src="src/android/myPluginTest.java"
            target-dir="src/com/test/myPlugin/myPluginTest" /></platform
></plugin>